@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Application for Migrations</h1>
    <p class="lead">This application performs migration on student's record.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Brief Description</h2>
        <p>
            Entity Framework introduced a migration tool that automatically updates the database schema when our model changes without losing any existing data or other database objects.
        </p>
     </div>

    <div class="col-md-4">
        <h2>Overview</h2>
        <p>This application performs crud operation on student records initially on the fields: FirstName, and LastName. Then, one more field: Mobile is added into the database through migration.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>Through this app we can easily understand migration concept.</p>
    </div>
</div>